.footer-size{
    
    height:200px;
}
.footer-bg-color{
    background-color: rgba(4, 4, 52, 0.89);
    color: white;
}
.flex{
    display:flex;
}
.flex-center{
    align-items: center;
}
.footer-size a{
    color:white;
    text-decoration: none;
}
.pos-end{
    align-self: flex-end;
    width: 100%;
    bottom: 0px;
}
.pos-end a{
    align-self: center;
}