.preview-width{
    width:100%;
    /* border: 1px solid red; */
    /* height: 400px; */
    padding: 10px;
}
.preview-separate{
    margin-top:0px;
}
.preview-color-men{
    background-color: rgba(22, 119, 70, 0.776);
}
.preview-color-women{
    background-color: rgba(215, 79, 217, 0.776);
}
.flex{
    display: flex;
}
.flex-center{
    align-items: center;
}
.flex-justify-right{
    flex-direction: row-reverse;
}
.flex-justify-center{
    justify-content: center;
}
.preview-box{
    
    width: 98%;
    height: 95%;
    overflow: hidden;
    color: white;
    
}
.preview-box-border-men{
    border: 5px solid rgb(161, 232, 161);
}
.preview-box-border-women{
    border: 5px solid rgb(240, 160, 222);
}
.preview-text-margin{
    margin-left:10px;
}
